// Fonts
$primary-font: 'Poppins', sans-serif;

// Colors
$primary-color: #3D77C2;

$black-color: #141414;
$black-gray-color: #242526;
$gray-light-color: #C3C3C3;
$white-color: #FFFFFF;
$red-color: #D30E08;
$bleu-light-color: #6EC6FF;
$placeholder-color: $gray-light-color;

$alert-info-color: #2196F3;
$alert-success-color: #4CAF50;
$alert-warning-color: #FF9800;
$alert-error-color: #F44336;

// Sizes
$dashboard-width: 250px;
$border-radius: 5px;